<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>World watcher</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Jersey 10", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        background-color: black;
        color: white;
      }
      #status {
        font-size: 120px;
      }
      #api-link {
        font-size: 30px;
      }
      a,
      a:visited {
        color: cornflowerblue;
      }
    </style>
  </head>
  <body>
    <div id="status">{{ status }}</div>
    <p id="api-link">
      Check out the endpoint
      <a rel="stylesheet" href="{{ url_for('watcher') }}">here</a>
    </p>
  </body>
</html>
