<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>World watcher</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap"
      rel="stylesheet"
    />
    <style>
      #status {
        font-family: "Jersey 10", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    </style>
  </head>
  <body>
    <div style="font-size: 120px" id="status">{{ status }}</div>
    <p style="font-size: 30">
      Check out the endpoint
      <a rel="stylesheet" href="{{ url_for('watcher') }}">here</a>
    </p>
  </body>
</html>
